---
---
<header class="header">
    <div class="header-flex">
        <div class="logo-wrapper">
            <h5> Logo </h5>
        </div>
        <div class="menu-wrapper">
            <ul>
                <li> <a href="#"> Home </a></li>
                <li> <a href="#"> About </a></li>
                <li> <a href="#"> Settings </a></li>
            </ul>
        </div>
    </div>
</header>

<style>
    .header-flex{
        display: flex;
        justify-content: space-between;
    }
</style>